/* all */

@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.orbit-regular {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  body {
    font-family: 'Orbit', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
  }


a{
    text-decoration: none;
    display: block;
    color: black;
}

html{
    scroll-behavior: smooth;
}

li{
    list-style-type: none;
}

.container{
    width: 100%;
    height: 1200px;

    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8))   ,url(엉끝.jpg) no-repeat;
    background-size: cover;

    color: white;
}

.header{
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* menu */
.menu{
    width: 400px;
    height: 100px;

    display: flex;
    align-items: center;
}

.menu li{
    width: 25%;
    text-align: center;
}

.menu li a{
    color: rgb(255, 255, 255);
    transition: 0.3s;
    
}

menu li a:hover{
    background-color: darkred;
    color: rgb(202, 147, 147);
}

/* main(subang) */
.main{
    width: 1200px;
    height: 800px;
    margin: 0 auto;

    margin-top: 150px;

    text-align: center;
}

.main h1{
    font-size: 50px;
    margin-bottom: 50px;
}

.main h2{
    font-size: 40px;
    margin-bottom: 30px;
}

.main p{
    font-size: 30px;
    margin-bottom: 50px;
}

.main button{
    font-size: 30px;
    width: 300px;
    height: 100px;

    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    background-color: transparent;

    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.main button:hover{
    border-color: rgb(122, 89, 89);
    color: rgb(185, 110, 110);
}

/* about */
.about-outer{
    height: 900px;
    background: url(./똥굴.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 200px;
}
.about{
    width: 1200px;
    height: 800px;

    margin: 0 auto;
    
 
}

.about h2{
    font-size: 30px;
    color: brown;
}

.about h1{
    font-size: 50px;
    color: white;
}


.about .contents{
    width: 100%;
    height: 500px;

    display: flex;
}

.about .left{
    width: 400px;
    height: 500px;
}

.about .right{
    width: 800px;
    height: 500px;

}

.about .right h3{
    font-size: 40px;
    color: white;
}

.about .right li{
    font-size: 22px;
    margin-top: 10px;
    color: white;
}

.fa-brands{
    font-size: 50px;
    float: left;
}

.fa-youtube{
    color: red;
    font-size: 50px;
}

.fa-facebook{
    color: #3b5998;
}

/* skills */
.skills{
    width: 100%;
    height: 700px;
    background-color: #8f6a6a;
}

.skills-inner{
    width: 1200px;
    height: 500px;
    margin: 0 auto;

}

.skills h2{
    font-size: 30px;
    color: brown;
}

.skills h1{
    font-size: 50px;
}

.skills .contents{
    width: 100%;
    height: 300px;
    margin-top: 50px;

    display: flex;
    justify-content: space-around;
}

.skills .contents li{
    width: 350px;
    height: 350px;
    background-color: rgb(255, 255, 255);

    padding: 10px;

    transition: 0.3s;
}

.skills h3{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
}

.skills p{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}

.skills i{
    color: hotpink;
}

.fa-file{
    font-size: 50px;
}

.skills .contents li:hover{
    background-color: rgb(80, 28, 15);
    color: white;
    transform: rotate(2081deg);

}

.skills .contents li:hover i{
    color: rgb(223, 105, 105);
}

.bg{
    width: 100%;
    height: 800px;
    background: url(중국수방.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.projects{
    height: 1200px;
}


/* contact */
.contact-outer{
    height: 900px;
    background: url(./엉시.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.contact{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}

.contact h2{
    font-size: 30px;
    color: brown;
}

.contact h1{
    font-size: 50px;
}

.contact .contents{
    width: 1200px;
    height: 600px;

    display: flex;
}

.contact .left{
    width: 400px;
    height: 600px;
}

.contact .right{
    width: 800px;
    height: 600px;
    border-left: 2px dashed #ccc;
    padding-left: 50px;
}

.info li{
    width: 350px;
    height: 80px;

    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.contact .right p{
    font-size: 25px;
}

.contact .right input{
    width: 500px;
    height: 30px;

    margin-bottom: 30px;
    border: 1px solid #ccc;
}

.contact .right textarea{
    width: 500px;
    height: 300px;
    border: 1px solid #ccc;
}

.contact .right button{
    width: 500px;height: 30px;
    background-color: brown;
    color: white;
    font-weight: bold;
}







/* animation */
.main{
  width: 90vw;
  margin: 0 auto;
  text-align: center;
}

.about .left img{
    width: 300px;
    height: 300px;

    animation: rotate_image 0.37s linear infinite;transform-origin: 50% 50%;
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}





.animation span{
  position: relative;
  font-size: 30px;
  font-weight: 600;
  color: white;
}
  
.animation .two_text {
  display: inline-block;
  transform-origin: center;
  padding: 0 0.5rem;
  color: #631e1e;
  animation: animate 0.2s infinite;
}

@keyframes animate {
  0% {
    transform: scale(3);
  }
  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(3);
  }

}


* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    word-spacing: 2px;
    overflow: hidden;
  }
  
  .title {
    margin: 0;
    font-size: 4rem;
  }
  
  
  .letter {
    display: inline-block;
    animation: reveal 1.7s cubic-bezier(0.77, 0, 0.175, 1) forwards;
  }
  
  @keyframes reveal {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }


  /* neon */
  .neon{
    width: 200px;
    height: 80px;

    font-size: 40px;
    font-weight: bold;
    text-align: center;

    transition: 0.3s;
}

.neon:hover{
    color: rgb(102, 13, 13);
}


.neon { 
    font-size: 60px; 
    font-weight: 700; 
    color: #9e5757; 
    text-shadow: 0 0 10px rgba(126, 37, 37, 0.7); 
    animation: neon-flicker 0.5s infinite alternate;
} 

@keyframes neon-flicker {
    0% {
        text-shadow: 
        0 0 10px rgba(126, 37, 37, 0.7), 
        0 0 20px rgba(126, 37, 37, 0.7), 
        0 0 30px rgba(126, 37, 37, 0.7);
    }
    100% {
        text-shadow: 
        0 0 20px rgba(126, 37, 37, 0.7), 
        0 0 30px rgba(126, 37, 37, 0.7), 
        0 0 40px rgba(126, 37, 37, 0.7);
    }
}
